

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  background: #000;

  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 100s linear -2500ms infinite;
          animation: imageAnimation 100s linear -2500ms infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(../img/Edu1.png)
}
.slideshow li:nth-child(2) {
  background-image: url(../img/Edu2.png);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(../img/Edu3.png);
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(../img/Edu4.png);
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(../img/Edu5.png);
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}
.slideshow li:nth-child(6) {
  background-image: url(../img/Edu6.png);
  -webkit-animation-delay: 55s;
          animation-delay: 55s;
}
.slideshow li:nth-child(7) {
  background-image: url(../img/Edu7.png);
  -webkit-animation-delay: 70s;
          animation-delay: 70s;
}
.slideshow li:nth-child(8) {
  background-image: url(../img/Edu8.png);
  -webkit-animation-delay: 100s;
          animation-delay: 100s;
}



@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}



@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

/* for more on animations */
/* https://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068
 */

footer {
  padding-top: auto
}