:root {
  --yellow: #ffc600;
  --black: #272727;
  --rainbow: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
}

/* = =====
FLexbox Grids
=========*/

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.row_cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1
}

.row_cell--2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2
}

.row_cell--3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3
}

.row_cell--top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start
}

.row_cell--bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end
}

.row_cell--center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center
}

.row--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start
}

.row--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end
}

.row--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 12px;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

@font-face {
  font-family: 'panama';
  src: url("../public/fonts/panama-bold-webfont.woff2") format("woff2"), url("../public/fonts/panama-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url("../public/topography.svg"),
    -webkit-linear-gradient(340deg, #f93d66, #6d47d9);
  background-image: url("../public/topography.svg"),
    -o-linear-gradient(340deg, #f93d66, #6d47d9);
  background-image: url("../public/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  -webkit-background-size: 340px, auto;
          background-size: 340px, auto;
  min-height: -webkit-calc(100vh - 100px);
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  font-family: panama;
  text-transform: uppercase;
}

/* User Style */
.container {
  display: table-cell;
  vertical-align: middle;
  display: -ms-grid;
  display: grid;
  /* max-width: 900px; */
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin-top: 100px; */
  background: transparent;
}

img.logo {
  margin-top: -60px;
  display: table-cell;
  vertical-align: middle;
}



nav,
footer {
  width: 100%;
  /* display: block; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
          justify-content: space-around;
  background: #ffc600;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 300;
  width: 16.6%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #272727;

}

nav a:hover {
  margin: 0;
   background: #ffffff;
  color: black;
  transform: scale(1.2);
  transition: all 1s;
}



/* section */
.details {
  margin-top: 10px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
}

.admission {
  margin-top: 10px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr 3fr;
      grid-template-columns: 4fr 3fr 3fr;
}

.admission > * {
  float: left;
  width: 33%;
}

@supports (display:grid) {
  .admission > * {
    width: auto;
  }
}

.welcome-address,
.news,
.login {
  display: inline-block;
  background: #ffffff;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid #272727
}

.welcome-address h1,
.news h2 {
  font-size: 2.8em;
  text-align: center;
}



.news {}

.card-like {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-items: center; */
}

.card-like>.image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.image>img {
  width: 20vmax;
  height: 20vmax;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 20px;
}

img:hover {
  opacity: .5;
}

.card-like>.body {
  flex: 400px;
  width: 400px;
}

.body p {
  /* font-family: Roboto; */
  font-size: 2em;
  font-weight: 300;
  line-height: 1.7;
}

.news a {
  text-decoration: none;
  color: #272727;
}

.new-item {
  text-align: center;
  text-transform: capitalize;
  width: 20vw;
  padding: 20px;
  background: #ffc600;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 5px;
}

a:nth-child(2n)>.new-item {
  background: #ffc600;
}

.more-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.2;
}

.more-details> * {
  /* display: table-cell; */
  float: left;
  width: 33%;

}

@supports (display:grid) {
  .more-details > * {
    width: 300px;
  }
}

.more {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.2;
}

.history {
  background: #ffffff;
  /* background-image: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%); */
  width: 90vw;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
}

.mission {
  /* display: inline-block; */
  background-image: -webkit-gradient(linear, left top, right top, from(#48ded4), color-stop(20%, #a026bf), color-stop(60%, #e82c75), color-stop(85%, #FFC40E), color-stop(95%, #48ded4));
  background-image: -webkit-linear-gradient(left, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  background-image: -o-linear-gradient(left, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  background-image: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
  vertical-align: middle;
}

.vision {
  /* display: inline-block; */
  background-image: -webkit-gradient(linear, left top, right top, from(#48ded4), color-stop(20%, #a026bf), color-stop(60%, #e82c75), color-stop(85%, #FFC40E), color-stop(95%, #48ded4));
  background-image: -webkit-linear-gradient(left, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  background-image: -o-linear-gradient(left, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  background-image: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
  vertical-align: middle;
}

.values {
  /* display: inline-block; */
  background-image: -webkit-gradient(linear, left top, right top, from(#48ded4), color-stop(20%, #a026bf), color-stop(60%, #e82c75), color-stop(85%, #FFC40E), color-stop(95%, #48ded4));
  background-image: -webkit-linear-gradient(left, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  background-image: -o-linear-gradient(left, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  background-image: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
}

footer {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: 400;
}

/* dropdown feature */
nav a span#dropdown a {
  display: none;
}

nav>a:hover a {
  display: block;
}

.carousel {
  margin-top: 10px;
  padding: 0;
  width: 80vw;
}